<div id="contain" *ngIf="!isLoading">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-8 col-md-6 offset-md-3 offset-sm-2">
        <div class="mx-auto">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" name="email" type="text" ngModel email id="email"  placeholder="Enter email" #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Email is not of the correct format</span>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-6 offset-md-3 offset-sm-2">
          <div class="mx-auto">
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" ngModel type="password" required minlength="6" id="password" placeholder="Password" #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">A password of at least 6 character is required</span>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-6 offset-md-3 offset-sm-2">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{ islogin ? 'Login' : 'Register'}}</button>
        </div>
      </div>

    </form>
    <div class="col-sm-8 col-md-6 offset-md-3 offset-sm-2">
      <span class="help-block" *ngIf="errorMessage" style="color: red;">Oppss.... {{errorMessage}}</span>
      <hr>
      <a style="cursor: pointer" (click)="islogin = !islogin"> {{ islogin? 'Not registered? create an account now!' : 'Already registered signup!' }}</a>

    </div>
  </div>
</div>

<div *ngIf="isLoading" align="center" style="margin-top: 40vh">
  <app-loading-spinner></app-loading-spinner>
</div>
