input.ng-invalid.ng-touched {
  border: 1px red solid;
}

.help-block{
  color: red;
}

input[type=file]{

}

.image-preview{
  height: 20rem;
  margin: 1 rem 0;
}

.image-preview img {
  max-width: 100%;
}

h4{
  font-size: 15pt;
  font-family: "Trebuchet MS";
}

/*.placeholder{*/
/*  max-width: 400px;*/
/*  width: 400px;*/
/*  height: 50%;*/
/*  background-repeat: no-repeat;*/
/*  background-size: contain;*/
/*  background-image: url('image-placeholder.png');*/
/*}*/

.top{
  margin-top: 20px;
}
